.admin-container{
    padding:40px;
    text-align:center;
    background:rgb(214, 210, 210);
    min-height:100vh;
}
.admin-container h1{
    color:rgb(200, 40, 40);
    margin-bottom:30px;
}
table{
    width:80%;
    margin:auto;
    border-collapse:collapse;
    background:white;
}
th,td{
    border:1px solid rgb(191, 185, 185);
    padding:15px;
    text-align:center;
}
th{
    background:rgb(209, 34, 34);
    color:white;
}
button{
    margin-top:30px;
    padding:12px 25px;
    border:none;
    background:rgb(201, 48, 48);
    color:white;
    border-radius:6px;
    cursor:pointer;
}
button:hover{
    background:rgb(199, 45, 45);
}