.report-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:rgb(222, 221, 221);
}
.report-box{
width:450px;
background:white;
padding:35px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,.2);
}
.report-box h2{
text-align:center;
color:rgb(213, 22, 22);
margin-bottom:25px;
}
.report-box form{
display:flex;
flex-direction:column;
gap:18px;
}
.report-box input,
.report-box select,
.report-box textarea{
padding:12px;
font-size:16px;
border:1px solid grey;
border-radius:5px;
}
.report-box button{
padding:12px;
background:rgb(201, 23, 23);
color:white;
border:none;
border-radius:5px;
font-size:16px;
cursor:pointer;
}
.back-btn{
margin-top:20px;
width:100%;
background:rgb(65, 64, 64);
}
.back-btn:hover{
background:rgb(48, 47, 47);
}