*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background:rgb(204, 189, 189);
}
.home{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.home h1{
    color:rgb(204, 186, 186);
    font-size:50px;
    margin-bottom:20px;
}
.home p{
    font-size:22px;
}